
{extend, "rebar.config"}.
{extend, "deps/build_config/test.config"}.

{skip_dep_cmds, [retest]}.

{deps, [
	{retest, ".*", 
	    {git, "git://github.com/hyperthunk/retest.git"}},
    {rebar_retest_plugin, ".*", 
        {git, "git://github.com/hyperthunk/rebar_retest_plugin.git"}}
]}.

{plugins, [rebar_retest_plugin]}.

{retest_testdir, "inttest"}.
{retest_verbose, true}.
