
{deps, [{rebar_alt_deps, ".*"}]}.

{alt_deps, [
    {build_config, "0.0.1"}
]}.

{alt_repositories, [
    {build_config,
        {{scm, git}, "https://github.com/nebularis/build_config.git", 
            {tag, "v0.0.1"}}}
]}.

{plugins, [rebar_plugin_manager, rebar_alt_deps]}.
{plugin_dir, "deps/rebar_plugin_manager/src"}.

%% support for
%% http://mynexus/service/local/artifact/maven/content?g=com.basho&a=riak_core&v=RELEASE&r=central-proxy
