
{deps, [
    {rebar_alien_plugin, "0.0.2"},
    {remote_plugin_loader, "0.0.2"}
]}.

{alt_repositories, [
    {rebar_alien_plugin,
        {github, "hyperthunk", "v0.0.2"}},
    %% or "https://github.com/hyperthunk/rebar_alien_plugin/zipball/v0.0.1"},
    {remote_plugin_loader,
        {bitbucket, "hyperthunk", "v0.0.2"}}
]}.

{plugins, [rebar_alt_deps]}.
{plugin_dir, "../../src"}.

%% support for
%% http://mynexus/service/local/artifact/maven/content?g=com.basho&a=riak_core&v=RELEASE&r=central-proxy
