
{plugins, [rebar_alt_deps]}.
{plugin_dir, "../../../../src"}.

{alt_deps, [
    {rebar_alien_plugin, "0.0.2"},
    {rebar_alt_deps, "0.0.1"}
]}.

{alt_repositories, [
    {rebar_alt_deps, 
        {github, "hyperthunk", "HEAD"}},
    {rebar_alien_plugin,
        {github, "hyperthunk", "v0.0.2"}}
]}.

