
{plugins, [rebar_alt_deps]}.
{plugin_dir, "../../../../src"}.

{alt_deps, [
    {remote_plugin_loader, "0.0.2"},
    {mydep, "1", alien}
]}.

{alt_repositories, [
    %% or "https://github.com/hyperthunk/rebar_alien_plugin/zipball/v0.0.1"},
    {remote_plugin_loader,
        {bitbucket, "hyperthunk", "v0.0.2"}},
    {mydep,
        {{scm, git}, "../../mydep", "HEAD"}}
]}.
