
{plugins, [rebar_plugin_manager, rebar_alt_deps]}.
{plugin_dir, "deps/rebar_plugin_manager/src"}.

{deps, [
    {rebar_plugin_manager, ".*",
        {git, "git://github.com/hyperthunk/rebar_plugin_manager.git"}},
    {rebar_alt_deps, ".*",
        {git, "../../../../.."}}
]}.

{alt_install_trigger, true}.

{alt_deps, [
    {remote_plugin_loader, "0.0.2"},
    {mydep, "1", alien}
]}.

{alt_repositories, [
    {remote_plugin_loader,
        {bitbucket, "hyperthunk", "v0.0.2"}},
    {mydep,
        {{scm, git}, "../../mydep", "HEAD"}}
]}.
